/* GERAL */
:root {
  --primary-color: #00A3FF;
  --secondary-color: #121212;
  --text-color: #FFFFFF;
  --glow-circle: #ffffff6c;
}

html {
  scroll-behavior: smooth;
}

/* MODO ESCURO (PADRÃO) */
body {
  font-family: monospace;
  background-color: var(--secondary-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* MODO CLARO */
body.light-mode {
  --primary-color: #007bff;
  --secondary-color: #E7EFF3;
  --text-color: #121212;
  --glow-circle: #00a2ff94;
}

/* GLOW CIRCLE */
.glow-circle {
  position: absolute;
  top: 10%;
  left: 94%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, var(--glow-circle), transparent 90%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(80px);
  pointer-events: none;
  z-index: 10;
}

/* NAVBAR */
.navbar-container {
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--secondary-color); 
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-text {
  color: var(--text-color);
}

.logo-dot {
  color: var(--primary-color);
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-items a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

.navbar-items a.active {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 4px;
  color: var(--primary-color);
}

.navbar-items a:hover {
  color: var(--primary-color);
}

.default-btn {
  padding: 5px 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 2px solid transparent;
  color: var(--secondary-color);
  transition: 0.3s;
}

.navbar-items .default-btn {
  color: var(--secondary-color);
}

.default-btn:hover {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

/* BOTTOM DARK MODE */
.theme-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  width: 60px;
  height: 35px;
  background: rgba(54, 54, 54, 0.745);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  font-size: 16px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.theme-toggle-btn:hover {
  transform: scale(1.08);
  background: rgba(0, 163, 255, 0.35);
  box-shadow: 0 6px 20px rgba(0, 163, 255, 0.3);
  color: var(--primary-color);
}

#theme-toggle {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#theme-toggle i {
  font-size: 18px;
}

#icon-sun {
  display: none;
}

body.light-mode #icon-moon {
  display: none;
}

body.light-mode #icon-sun {
  display: inline;
}

/* SEÇÃO - INÍCIO */
.main-banner {
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
}

.main-text {
  color: var(--text-color);
  text-align: left;
}

.bottoms-main {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.text-main p {
  opacity: 80%;
  font-size: 28px;
}

.text-main h1 {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: bold;
  line-height: 75px;
}

.text-secundaria {
  color: var(--text-color);
}

.text-destaque {
  color: var(--primary-color);
}

.main-image {
  text-align: right;
}

.bottom-baixar-cv {
  background-color: var(--primary-color);
  padding: 15px 40px;
  color: var(--secondary-color);
  font-size: 24px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
  transition: transform 0.3s ease;
}

.bi-download {
  font-size: 28px;
}

.bottom-baixar-cv:hover {
  transform: scale(1.1);
}

.bottom-linkedin a,
.bottom-github a {
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  transition: transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.bottom-linkedin a:hover,
.bottom-github a:hover {
  transform: scale(1.1);
}

.main-image img {
  width: 400px;
  height: auto;
}

.main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 9rem;
}

.main-text,
.main-image {
  flex: 1;
  min-width: 300px;
}

.nome {
  white-space: nowrap;
  display: inline-block;
}

section {
  scroll-margin-top: 70px;
}

/* SEÇÃO - SERVIÇOS */
.servicos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding: 5rem 0;
  width: 100%;
  margin: 0 auto;
}

.servico-item {
  flex: 1 1 calc(50% - 1rem);
  background-color: #00a2ff0e;
  border: 1px solid #00A3FF;
  padding: 2rem;
  border-radius: 35px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
}

.servico-item .bi-code-slash {
  display: flex;
  text-align: right;
  font-size: 38px;
  color: var(--primary-color);
}

.servico-item h3 {
  font-weight: bold;
  font-size: 35px;
  color: var(--primary-color);
}

.servico-item p {
  font-size: 14px;
  font-weight: lighter;
}

/* SEÇÃO CURRÍCULO - FILTRO */
.secoes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 0 0;
  }  

.secoes ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
  }
  
  .secoes-btn {
    padding: 3px 20px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 12px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .secoes-btn:hover {
    background-color: rgba(0, 191, 255, 0.1);
  }
  
  .secoes-btn.ativo {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  
  .secao-conteudo {
    display: none;
  }

  .secao-conteudo.ativa {
    display: block;
  }

 /* SEÇÃO CURRÍCULO - EXPERIÊNCIAS */
.experiencias-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 6rem;
  }
  
  .experiencias-item {
    background: #00a2ff0e;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
    transition: transform 0.3s ease;
  }
  
  .card-meio {
    transform: translateY(30px);
  }
  
  .titulo-subtitulo-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
  }
  
  .imagem-titulo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid var(--primary-color);
    background-color: var(--text-color);
  }
  
  h2 {
    margin: 0;
    font-size: 22px;
    color: var(--text-color);
  }
  
  h3 {
    margin: 0;
    font-size: 14.4px;
    color: var(--text-color);
    font-weight: normal;
    opacity: 80%;
  }
  
.experiencias-item ul {
  position: relative;
  min-height: 180px;
  padding: 15px;
  border-radius: 16px;
  margin: 0 0 15px 0;
  list-style: disc inside;
  color: var(--text-color);
  font-size: 14.4px;
  line-height: 1.6;
  background: none;
}

.experiencias-item ul::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: linear-gradient(to bottom, #00a2ff19, #00a2ff0e);
  z-index: -1;
}

.experiencias-item ul li {
  margin-bottom: 8px;
}

.experiencias-item p {
  font-weight: bold;
  color: var(--text-color);
  font-size: 14.4px;
  text-align: center;
}

/* SEÇÃO CURRÍCULO - EDUCAÇÃO */
.formacao-container,
.certificados-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
  }

.formacao-container-cards,
.certificados-container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 640px; 
    margin: 0 auto;
}

.certificados-container-cards {
  padding-bottom: 5rem;
}

.formacao-container h2,
.certificados-container h2 {
  color: var(--text-color);
  font-size: 2rem;
  opacity: 80%;
  font-weight: bold;
}

.formacao-topo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.formacao-item,
.certificados-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: linear-gradient(145deg,  #00a2ff0e, #00a2ff19);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: 0.7rem 1rem 0 1rem;
  gap: .5rem;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
  width: 300px;
}

.imagem-titulo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid var(--primary-color);
    background-color: var(--text-color);
}

.formacao-item h2,
.certificados-item h2 {
  font-size: 1.1rem;
  font-weight: bold;
  color:var(--text-color);
}

.formacao-item h3,
.certificados-item h3 {
  font-size: 0.75rem;
  color: var(--text-color);
  opacity: 80%;
  margin-top: 0.3rem;
}

.formacao-item p,
.certificados-item p {
  font-size: 0.9rem;
  color:var(--text-color);
  font-weight: bold;
  text-align: center;
  width: 100%;
}

/* SEÇÃO CURRÍCULO - HABILIDADES */
.conhecimentos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
    padding-bottom: 6rem;
}

.conhecimentos-container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.conhecimentos-container h2 {
  color: var(--text-color);
  font-size: 2rem;
  opacity: 80%;
  font-weight: bold;
}

.conhecimentos-item .imagem-titulo {
    width: 60px;
    height: 60px;
    border-radius: none;
    border: none;
    background-color: transparent;
}

.conhecimentos-item h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color:var(--text-color);
  opacity: 80%;
}

.conhecimentos-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background: linear-gradient(145deg,  #00a2ff0e, #00a2ff19);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: 0.5rem 1rem 0.5rem 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
  width: 300px;
  align-items: center;
  border-radius: 3rem;
}

/* SEÇÃO CURRÍCULO - SOBRE MIM */
.sobre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  margin: 0 auto;
  flex: 1 1 calc(50% - 1rem);
  background-color: #00a2ff0e;
  border: 1px solid #00A3FF;
  padding: 5rem 3rem;
  border-radius: 35px;
  box-sizing: border-box;
  margin: 2rem 10rem 4rem 10rem;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
}

.sobre-container p {
  font-size: 24px;
  font-weight: lighter;
  opacity: 80%;
}

/* SEÇÃO PROJETOS */
.section-projetos h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color:var(--text-color);
  opacity: 80%;
}

.projetos-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projeto-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 auto;
  flex: 1 1 calc(50% - 1rem);
  background-color: #00a2ff0e;
  border: 1px solid #00A3FF;
  border-radius: 35px;
  box-sizing: border-box;
  margin: 1rem;
  overflow: hidden;
  padding: 1rem;
}

.projeto-preview {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.projeto-imagem {
  max-width: 120%;
  height: auto;
}

.projeto-botoes {
  display: flex;
  gap: 1rem;
}

.projeto-botao {
  background-color: var(--primary-color);
  padding: 5px 20px;
  color: var(--secondary-color);
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  border-radius: 40px;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
}

.projeto-botao:hover {
  transform: scale(1.025);
}

.bi-github,
.bi-eye {
  font-size: 24px;
}

.projeto-info {
  flex: 2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.projeto-titulo {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.projeto-titulo h3 {
  flex: 2;
  font-size: 1.8rem;
  color: var(--text-color);
  margin: 0;
  font-weight: bold;
  opacity: 100%;
}

.projeto-titulo span.projeto-em-colaboracao {
  font-size: 1.2rem;
  color: var(--text-color);
  opacity: 50%;
  font-weight: bold;
  padding: 0px 4px;
  border: 3px solid var(--text-color);
  border-radius: 12px;
  background-color: transparent;
  cursor: default;
  box-sizing: content-box;
}

.projeto-info p {
  font-size: 1rem;
  color: var(--text-color);
  opacity: 90%;
}

.projeto-info h4 {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
}

.projeto-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  color: var(--text-color);
  font-weight: lighter;
  font-size: .95rem;
}

.projeto-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.projeto-tag {
  padding: 0.1rem 0.4rem;
  border-radius: .8rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--text-color);
  opacity: 50%;
  font-weight: bold;
  border: 3px solid var(--text-color);
  background-color: transparent;
}
